BasedOnStyle:                 GNU
Language:                     Cpp
ColumnLimit:                  120
AlignConsecutiveAssignments:  Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros:       Consecutive
InsertBraces:                 true
AlignTrailingComments:
  Kind:           Always
  OverEmptyLines: 2
